<h1>Übersicht</h1>
<table>
    <tr>
        <td>Name: {{user?.name}}</td>
        <td>Level: {{user?.spaceship?.spaceshipLvl}}</td>
    </tr>
    <tr>
        <td>Position: {{user?.spaceship?.currentPosition?.galaxy}}:{{user?.spaceship?.currentPosition?.system}}:{{user?.spaceship?.currentPosition?.position}} </td>
        <td *ngIf="user?.spaceship?.spaceshipLvl < 5"><a>Spezialisierung erst ab Level 5 möglich</a></td>
        <td *ngIf="user?.spaceship?.merchantSpaceship">Spezialisierung: Handelsschiff</td>
        <td *ngIf="user?.spaceship?.fighterSpaceship">Spezialisierung: Kampfschiff</td>
        <td *ngIf="user?.spaceship?.spaceshipLvl >=5 && !user?.spaceship?.fighterSpaceship && !user?.spaceship?.merchantSpaceship"><a [routerLink]="'/user/' + user.id + '/spaceship/' + user.spaceship.id + '/specialization'">Jetzt Spezialisierung auswählen</a></td>
    </tr>
    <tr>
        <td>
            Angriffskraft: {{user?.spaceship?.attackPower | number: '1.0-0':'de-DE'}}<br>
            Verteidigung: {{user?.spaceship?.defense | number: '1.0-0':'de-DE'}}<br>
            Geschwindigkeit: {{user?.spaceship?.speed | number: '1.0-0':'de-DE'}}
        </td>
        <td>Punkte: {{user?.points | number: '1.0-0':'de-DE'}}</td>
    </tr>
</table>