<h1>Raumschiff-Ausbau</h1>

<div *ngIf="spaceship?.remainingBuildingDuration > 0">
    <p>Es befindet sich noch etwas im Ausbau. Verbleibende Zeit: {{spaceship?.remainingBuildingDuration}}</p>
</div>

<div>
    <h2>Raumschiff - Aktuelles Level {{spaceship?.spaceshipLvl}}</h2>
    <p>Benötigte Ressourcen: Metall: {{buildingStatsOfSpaceship?.necessaryMetal}} Kristall: {{buildingStatsOfSpaceship?.necessaryCrystal}} Wasserstoff: {{buildingStatsOfSpaceship?.necessaryHydrogen}} Energie: {{buildingStatsOfSpaceship?.necessaryEnergy}}</p>
    <button *ngIf="spaceship?.remainingBuildingDuration == 0" (click)="increaseLvl('spaceship')">Ausbauen</button>
</div>
<div>
    <h2>Forschungslabor - Aktuelles Level {{spaceship?.researchLaboratoryLvl}}</h2>
    <p>Benötigte Ressourcen: Metall: {{buildingStatsOfResearchLaboratory?.necessaryMetal}} Kristall: {{buildingStatsOfResearchLaboratory?.necessaryCrystal}} Wasserstoff: {{buildingStatsOfResearchLaboratory?.necessaryHydrogen}} Energie: {{buildingStatsOfResearchLaboratory?.necessaryEnergy}}</p>
    <button *ngIf="spaceship?.remainingBuildingDuration == 0" (click)="increaseLvl('researchlaboratory')">Ausbauen</button>
</div>
