<h1>Planeten</h1>
<a [routerLink]="'/user/' + user.id + '/spaceship/' + user.spaceship.id +'/planet/colonize'">Planet kolonisieren</a><br>
<div *ngFor="let planet of planets">
    <a [routerLink]="'/user/' + user.id + '/planet/' + planet.id">{{planet.name}}</a> ({{planet.coordinates.galaxy}}:{{planet.coordinates.system}}:{{planet.coordinates.position}})<br>
    Metall: {{planet.metal | number: '1.0-0':'de-DE'}}/{{planet.metalStorehouse | number: '1.0-0':'de-DE'}}<br>
    Aktuelle Produktion: {{planet.metalProductionEveryHour | number: '1.0-0':'de-DE'}}<br>
    Kristall: {{planet.crystal | number: '1.0-0':'de-DE'}}/{{planet.crystalStorehouse | number: '1.0-0':'de-DE'}}<br>
    Aktuelle Produktion: {{planet.crystalProductionEveryHour | number: '1.0-0':'de-DE'}}<br>
    Wasserstoff: {{planet.hydrogen | number: '1.0-0':'de-DE'}}/{{planet.hydrogenTank | number: '1.0-0':'de-DE'}}<br>
    Aktuelle Produktion: {{planet.hydrogenProductionEveryHour | number: '1.0-0':'de-DE'}}<br>
    Energie: {{planet.energy | number: '1.0-0':'de-DE'}}<br>
    <button (click)="deletePlanet(planet.id)">Planet löschen</button><br>
    <a [routerLink]="'/user/' + user.id + '/spaceship/' + user.spaceship.id + '/planet/' + planet.id + '/fly'">Rohstoffe abholen/liefern</a><br>
</div>