<h1>Technologie</h1>

<div>
    <h2>Energie-Forschung - Aktuelles Level {{technology?.energyResearchLvl}}</h2>
    <p>Benötigte Ressourcen: Metall: {{buildingStatsOfEnergyResearch?.necessaryMetal | number: '1.0-0':'de-DE'}} Kristall:
        {{buildingStatsOfEnergyResearch?.necessaryCrystal | number: '1.0-0':'de-DE'}} Wasserstoff:
        {{buildingStatsOfEnergyResearch?.necessaryHydrogen | number: '1.0-0':'de-DE'}} Energie:
        {{buildingStatsOfEnergyResearch?.necessaryEnergy | number: '1.0-0':'de-DE'}}</p>
    <p>Dauer:
        {{buildingStatsOfEnergyResearch?.buildingOrResearchDuration * spaceship?.reduceResearchDuration | rounddown | number: '1.0-0':'de-DE'}}
    </p>
    <button *ngIf="technology?.endOfResearch == null" (click)="increaseLvl('energyresearch')">Erforschen</button>
    <app-timer *ngIf="technology?.nameOfResearch === 'energyresearch'" [necessaryTime]="technology?.endOfResearch"></app-timer>
</div>

<div>
    <h2>Ressourcen-Forschung - Aktuelles Level {{technology?.resourceResearchLvl}}</h2>
    <p>Benötigte Ressourcen: Metall: {{buildingStatsOfResourceResearch?.necessaryMetal | number: '1.0-0':'de-DE'}} Kristall:
        {{buildingStatsOfResourceResearch?.necessaryCrystal | number: '1.0-0':'de-DE'}} Wasserstoff:
        {{buildingStatsOfResourceResearch?.necessaryHydrogen | number: '1.0-0':'de-DE'}} Energie:
        {{buildingStatsOfResourceResearch?.necessaryEnergy | number: '1.0-0':'de-DE'}}</p>
        <p>Dauer:
            {{buildingStatsOfResourceResearch?.buildingOrResearchDuration * spaceship?.reduceResearchDuration | rounddown | number: '1.0-0':'de-DE'}}
        </p>
        <button *ngIf="technology?.endOfResearch == null" (click)="increaseLvl('resourceresearch')">Erforschen</button>
        <app-timer *ngIf="technology?.nameOfResearch === 'resourceresearch'" [necessaryTime]="technology?.endOfResearch"></app-timer>
</div>