<h1>Galaxie</h1>
<form [formGroup]="form" (ngSubmit)="search()">

    Galaxie<input formControlName="galaxy" type="number" placeholder="Galaxie" />
    System<input formControlName="system" type="number" placeholder="System"/>
    <button type="submit">Suchen</button>
</form>

<table>
    <tr>
        <td>
            Position
        </td>
        <td>
            Planet
        </td>
        <td>
            Raumschiffe in diesem System
        </td>
    </tr>
    <tr *ngFor="let coordinateSystemRow of coordinateSystem">
        <td>
            {{coordinateSystemRow?.position}}
        </td>
        <td>
            <div *ngIf="coordinateSystemRow.planet">Name: {{coordinateSystemRow?.planet?.name}}</div>
            
        </td>
        <td>
            <div *ngFor="let spaceship of coordinateSystemRow.listOfSpaceshipsInThisSystem">Id: {{spaceship?.id}}</div>
        </td>
        <td>
            <a *ngIf="!coordinateSystemRow.planet" [routerLink]="'/user/' + userId + '/spaceship/' + user.spaceship.id + '/fly'" [queryParams]="{action: 'colonize', galaxy: galaxy, system: system, position: coordinateSystemRow?.position}">Kolonisieren</a><br>
            <a *ngIf="coordinateSystemRow.planet && !user.planets.includes(coordinateSystemRow?.planet)" [routerLink]="'/user/' + userId + '/spaceship/' + user.spaceship.id + '/fly'" [queryParams]="{action: 'attack', galaxy: galaxy, system: system, position: coordinateSystemRow?.position}">Angreifen</a><br>
            <a *ngIf="isUsersPlanet(coordinateSystemRow?.planet)" [routerLink]="'/user/' + userId + '/spaceship/' + user.spaceship.id + '/fly'" [queryParams]="{action: 'station', galaxy: galaxy, system: system, position: coordinateSystemRow?.position}">Stationieren</a><br>
        </td>
    </tr>
</table> 