<div>
    <h1>Metall</h1>
    <h2>{{spaceship?.metal | number: '1.0-0':'de-DE'}}/{{spaceship?.metalStore | number: '1.0-0':'de-DE'}}</h2>
</div>
<div>
    <h1>Kristall</h1>
    <h2>{{spaceship?.crystal | number: '1.0-0':'de-DE'}}/{{spaceship?.crystalStore | number: '1.0-0':'de-DE'}}</h2>
</div>
<div>
    <h1>Wasserstoff</h1>
    <h2>{{spaceship?.hydrogen | number: '1.0-0':'de-DE'}}/{{spaceship?.hydrogenTank | number: '1.0-0':'de-DE'}}</h2>
</div>
<div>
    <h1>Energie</h1>
    <h2>{{spaceship?.energy | number: '1.0-0':'de-DE'}}</h2>
</div>
<div>
    <h1>Position</h1>
    <h2 *ngIf="!spaceship?.currentPosition">Verbleibende Flugdauer: <app-timer [necessaryTime]="flight?.arrivalTime"></app-timer></h2>
    <h2 *ngIf="spaceship?.currentPosition">
       {{spaceship?.currentPosition?.galaxy}}:{{spaceship?.currentPosition?.system}}:{{spaceship?.currentPosition?.position}}
    </h2>
    
</div>