<h1>Fliegen</h1>

<form [formGroup]="form" (ngSubmit)="flyToCoordinate()">

    <p>Was möchtest du machen?</p>
    <select formControlName="action">
        <option value='pickup'>Rohstoffe abholen</option>
        <option value='deliver'>Rohstoffe liefern</option>
        <option value='colonize'>Planet kolonisieren</option>
        <option value='attack'>Planet angreifen</option>
        <option value='station'>Raumschiff stationieren</option>
    </select><br>
    <input formControlName="metal" type="number" placeholder="Metall" />
    <input formControlName="crystal" type="number" placeholder="Kristall" />
    <input formControlName="hydrogen" type="number" placeholder="Wasserstoff" />
    <!-- <button *ngIf="form.action.pickup" type="button" (click)="maxResourcesOfSpaceship()">Maximale Menge mitnehmen</button><br> -->
    <input formControlName="galaxy" type="number" placeholder="Galaxie" />
    <input formControlName="system" type="number" placeholder="System" />
    <input formControlName="position" type="number" placeholder="Position" />
    <div *ngIf="form.controls.metal.invalid && (form.controls.metal.touched || form.controls.metal.dirty) || form.controls.crystal.invalid && (form.controls.crystal.touched || form.controls.crystal.dirty) || form.controls.hydrogen.invalid && (form.controls.hydrogen.touched || form.controls.hydrogen.dirty)">        Es müssen alle Felder ausgefüllt sein!
    </div>
    <button type="submit">Los</button>
</form>
<p *ngIf="message">{{message}}</p>