<h1>Planet {{planet?.id}}</h1>
<h2><a [routerLink]="'/user/' + userId + '/coordinatesystem'" [queryParams]="{galaxy: planet?.coordinates?.galaxy, system: planet?.coordinates?.system}">Position: {{planet?.coordinates?.galaxy}}:{{planet?.coordinates?.system}}:{{planet?.coordinates?.position}}</a></h2>
<h2>Größe: {{planet?.fields}} - Noch verfügbar: {{planet?.remainingFields}}</h2>
<div *ngIf="planet?.remainingBuildingDuration > 0">
    <p>Es befindet sich noch etwas im Ausbau. Verbleibende Zeit: {{planet?.remainingBuildingDuration}}</p>
</div>

<div>
    <h2>Kommandozentrale - Aktuelles Level {{planet?.commandCentralLvl}}</h2>
    <p>Benötigte Ressourcen: Metall: {{buildingStatsOfCommandCentral?.necessaryMetal}} Kristall: {{buildingStatsOfCommandCentral?.necessaryCrystal}} Wasserstoff: {{buildingStatsOfCommandCentral?.necessaryHydrogen}} Energie: {{buildingStatsOfCommandCentral?.necessaryEnergy}}</p>
    <button *ngIf="planet?.remainingBuildingDuration == 0" (click)="levelUpPlanetBuilding('commandcentral')">Ausbauen</button>
</div>
<div>
    <h2>Metallmine - Aktuelles Level {{planet?.metalMineLvl}}</h2>
    <p>Benötigte Ressourcen: Metall: {{buildingStatsOfMetalMine?.necessaryMetal}} Kristall: {{buildingStatsOfMetalMine?.necessaryCrystal}} Wasserstoff: {{buildingStatsOfMetalMine?.necessaryHydrogen}} Energie: {{buildingStatsOfMetalMine?.necessaryEnergy}}</p>    <button *ngIf="planet?.remainingBuildingDuration == 0" (click)="levelUpPlanetBuilding('metalmine')">Ausbauen</button>
</div>
<div>
    <h2>Kristallmine - Aktuelles Level {{planet?.crystalMineLvl}}</h2>
    <p>Benötigte Ressourcen: Metall: {{buildingStatsOfCrystalMine?.necessaryMetal}} Kristall: {{buildingStatsOfCrystalMine?.necessaryCrystal}} Wasserstoff: {{buildingStatsOfCrystalMine?.necessaryHydrogen}} Energie: {{buildingStatsOfCrystalMine?.necessaryEnergy}}</p>    <button *ngIf="planet?.remainingBuildingDuration == 0" (click)="levelUpPlanetBuilding('crystalmine')">Ausbauen</button>
</div>
<div>
    <h2>Wasserstoff-Anlage - Aktuelles Level {{planet?.hydrogenPlantLvl}}</h2>
    <p>Benötigte Ressourcen: Metall: {{buildingStatsOfHydrogenPlant?.necessaryMetal}} Kristall: {{buildingStatsOfHydrogenPlant?.necessaryCrystal}} Wasserstoff: {{buildingStatsOfHydrogenPlant?.necessaryHydrogen}} Energie: {{buildingStatsOfHydrogenPlant?.necessaryEnergy}}</p>    <button *ngIf="planet?.remainingBuildingDuration == 0" (click)="levelUpPlanetBuilding('hydrogenplant')">Ausbauen</button>
</div>
<div>
    <h2>Solarkraftwerk - Aktuelles Level {{planet?.solarPowerPlantLvl}}</h2>
    <p>Benötigte Ressourcen: Metall: {{buildingStatsOfSolarPowerPlant?.necessaryMetal}} Kristall: {{buildingStatsOfSolarPowerPlant?.necessaryCrystal}} Wasserstoff: {{buildingStatsOfSolarPowerPlant?.necessaryHydrogen}} Energie: {{buildingStatsOfSolarPowerPlant?.necessaryEnergy}}</p>    <button *ngIf="planet?.remainingBuildingDuration == 0" (click)="levelUpPlanetBuilding('solarpowerplant')">Ausbauen</button>
</div>
<div>
    <h2>Metallspeicher - Aktuelles Level {{planet?.metalStorehouseLvl}}</h2>
    <p>Benötigte Ressourcen: Metall: {{buildingStatsOfMetalStorehouse?.necessaryMetal}} Kristall: {{buildingStatsOfMetalStorehouse?.necessaryCrystal}} Wasserstoff: {{buildingStatsOfMetalStorehouse?.necessaryHydrogen}} Energie: {{buildingStatsOfMetalStorehouse?.necessaryEnergy}}</p>    <button *ngIf="planet?.remainingBuildingDuration == 0" (click)="levelUpPlanetBuilding('metalstorehouse')">Ausbauen</button>
</div>
<div>
    <h2>Kristallspeicher - Aktuelles Level {{planet?.crystalStorehouseLvl}}</h2>
    <p>Benötigte Ressourcen: Metall: {{buildingStatsOfCrystalStorehouse?.necessaryMetal}} Kristall: {{buildingStatsOfCrystalStorehouse?.necessaryCrystal}} Wasserstoff: {{buildingStatsOfCrystalStorehouse?.necessaryHydrogen}} Energie: {{buildingStatsOfCrystalStorehouse?.necessaryEnergy}}</p>    <button *ngIf="planet?.remainingBuildingDuration == 0" (click)="levelUpPlanetBuilding('crystalstorehouse')">Ausbauen</button>
</div>
<div>
    <h2>Wasserstofftank - Aktuelles Level {{planet?.hydrogenTankLvl}}</h2>
    <p>Benötigte Ressourcen: Metall: {{buildingStatsOfHydrogenTank?.necessaryMetal}} Kristall: {{buildingStatsOfHydrogenTank?.necessaryCrystal}} Wasserstoff: {{buildingStatsOfHydrogenTank?.necessaryHydrogen}} Energie: {{buildingStatsOfHydrogenTank?.necessaryEnergy}}</p>    <button *ngIf="planet?.remainingBuildingDuration == 0" (click)="levelUpPlanetBuilding('hydrogentank')">Ausbauen</button>
</div>
<div>
    <h2>Solarsatellit - Anzahl: {{planet?.solarSatellite}}</h2>
    <p>Benötigte Ressourcen: Metall: {{buildingStatsOfSolarsatellite?.necessaryMetal}} Kristall: {{buildingStatsOfSolarsatellite?.necessaryCrystal}} Wasserstoff: {{buildingStatsOfSolarsatellite?.necessaryHydrogen}} Energie: {{buildingStatsOfSolarsatellite?.necessaryEnergy}}</p>    <button *ngIf="planet?.remainingBuildingDuration == 0" (click)="levelUpPlanetBuilding('solarsatellite')">Ausbauen</button>
</div>